#guiname {
  -fx-font-size: 30pt;
  -fx-font-family: "American Typewriter";
  -fx-base: white;
  -fx-alignment: center;
}

.color-picker{
 -fx-font-size: 10pt;
}
.color-picker .label {
  /*THE box area of color picker*/
  -fx-pref-width: 80px;
}

.color-picker >.arrow-button{
  -fx-font-size: 7px;
}

/*#helpWindow{*/
/*-fx-border-color: black;*/
/*-fx-border-width: 3;*/
/*}*/

#helpLabel{
  -fx-font-size: 18px;
}

.control-button {
  -jfx-button-type: FLAT;
  -fx-background-color: #fce4ec;
  -fx-text-fill: black;
}

.command-error {
  -fx-text-fill: #ff0033;
}

.turtle {
  -fx-opacity: .5;
  -fx-effect: dropshadow( gaussian , rgba(200,255,255,0.5) , 5,5,5,0 )
}
